* {
  margin: 0px;
  padding: 0px;
}
body {
  text-align: center;
  background: #888888;
  background-image: url("files/logo.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 75%
}
b.f1 {
  font: bold 30px verdana, sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
}
b.f2 {
  font: bold 30px verdana, sans-serif;
  text-transform: uppercase;
  color: #59A2DF;
}
b.f3 {
  font: bold 30px verdana, sans-serif;
  text-transform: uppercase;
  color: #02419C;
}
b.f4 {
  font: bold 20px verdana, sans-serif;
  color: #FFFFFF;
}
.main {
  width: 1200px;
  margin: 25px auto;
}
.menu {
  background: #FFFFFF;
  padding: 20px;
  margin: 50px;
}
.gridmenu {
  display: grid;
  grid-template-columns: repeat(8,minmax(100px,auto));
  text-transform: uppercase;
  font: bold 12px verdana, sans-serif;
}
.presentation{
  text-align: center;
  font: 30px verdana, sans-serif;
  color: #FFFFFF;
  margin: 100px auto;
}
.square{
  text-transform: uppercase;
  padding: 15px 15px;
  font: 12px verdana, sans-serif;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  width: 200px;
  margin: 50px auto;
}
.gridSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: justify;
  font: 14px verdana, sans-serif;
  color: #FFFFFF;
  padding: 50px 50px;
}
.beneficios {
  grid-column: 1;
  text-align: left;
  padding: 50px 50px;
  font: 14px verdana, sans-serif;
  border: 0px solid #FFFFFF;
  background: #0069D3;
  text-align: justify;
  color: #FFFFFF;
}
.control {
  grid-column: 2;
  text-align: left;
  padding: 50px 50px;
  font: 14px verdana, sans-serif;
  border: 0px solid #FFFFFF;
  background: #02419C;
  text-align: justify;
  color: #FFFFFF;
}
.rendimiento { 
  grid-column: 3;
  text-align: left;
  padding: 50px 50px;
  font: 14px verdana, sans-serif;
  border: 0px solid #FFFFFF;
  background: #0069D3;
  text-align: justify;
  color: #FFFFFF;
}
.second {
  background-image: url("files/logo.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 75%;
  margin: 100px auto;
}
.gridSectionSecond {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 50px;
  text-align: justify;
  font: 14px verdana, sans-serif;
  color: #FFFFFF;
  padding: 30px 50px;
  margin: 20px auto;
}
.secondTitle{
  grid-column: 1/4;
  grid-row: 1;
  padding: 50px 0px;
  font: 28px verdana, sans-serif;
  color: #FFFFFF;
}
.third {
  background-color: #02419C;
  padding: 25px 100px;
  margin: 0px auto;
}
.thirdTitle{
  grid-column: 1/4;
  font: 28px verdana, sans-serif;
  text-align: justify;
  color: #FFFFFF;
  margin: 0px auto;
}
.thirdContent{
  grid-column: 1/4;
  font: 14px verdana, sans-serif;
  text-align: center;
  color: #FFFFFF;
  margin: 10px auto; 
}
.squareThird{
  text-transform: uppercase;
  padding: 25px 25px;
  font: 12px verdana, sans-serif;
  background-color: #FFAC00;
  color: #FFFFFF;
  width: 200px;
  margin: 0px auto;
}
.gridFourth {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: justify;
  font: 14px verdana, sans-serif;
  color: #000000;
  padding: 20px 20px;
  margin: 100px auto;
}
.gridFourthLeft {
  grid-column: 1;
  font: 18px verdana, sans-serif;
  text-align: justify;
  margin: 25px auto;
}
.gridFourthRight {
  grid-column: 2;
  font: 18px verdana, sans-serif;
  text-align: justify;
  margin: 10px auto;
}
.fourthTitle{
  font: 28px verdana, sans-serif;
  color: #000000;
}
.grid4L {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, auto));
  text-align: justify;
  font: 14px verdana, sans-serif;
  color: #000000;
  padding: 0px auto;
  align-items: center;
  margin: 50px auto;
}
.grid4LL {
  grid-column: 1;
}
.grid4LR {
  grid-column: 2;
}
.grid4R {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: justify;
  font: 14px verdana, sans-serif;
  color: #000000;
  padding: 0px auto;
  align-items: center;
  margin: 10px auto;
}
.grid4RL {
  grid-column: 1;
}
.grid4RR {
  grid-column: 2;
}
.gridForm {
  padding: 20px 20px;
  font: 18px verdana, sans-serif;
  color: #FFFFFF;
  width: 500px;
  margin: 10px auto;
}
.gridForm2 {
  padding: 20px 20px;
  font: 18px verdana, sans-serif;
  color: #FFFFFF;
  width: 230px;
  margin: 10px auto;
}
.gridForm3 {
  padding: 10px 10px;
  font: 18px verdana, sans-serif;
  background-color: #005AB4;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  width: 500px;
  margin: 50px auto;
}
input, select, textarea {
  font: 18px verdana, sans-serif;
  color: #000000;
  border: none;
  padding : 0 10px;
  margin  : 0;
  width   : 240px;
  background: none;
}
.footer {
  background-color: #000000;
  align-items: center;
  font: 12px verdana, sans-serif;
  color: #FFFFFF;
  margin: -150px auto;
}