* {
  margin: 0px;
  padding: 0px;
}
body {
  text-align: center;
  background: #FFFFFF;
  background-image: url("files/logo.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 75%
}
b.f1 {
  font: bold 30px verdana, sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
}
b.f2 {
  font: bold 30px verdana, sans-serif;
  text-transform: uppercase;
  color: #59A2DF;
}
b.f3 {
  font: bold 30px verdana, sans-serif;
  text-transform: uppercase;
  color: #02419C;
}
b.f4 {
  font: bold 20px verdana, sans-serif;
  color: #FFFFFF;
}
.main {
  width: 1200px;
  margin: 25px auto;
}
.menu {
  background: #FFFFFF;
  padding: 20px;
  margin: 50px;
}
.gridmenu {
  display: grid;
  grid-template-columns: repeat(8,minmax(100px,auto));
  text-transform: uppercase;
  font: bold 12px verdana, sans-serif;
}
.presentation{
  text-align: center;
  font: 30px verdana, sans-serif;
  color: #FFFFFF;
  margin: 0 auto;
}
.square{
  text-transform: uppercase;
  padding: 15px 15px;
  font: 12px verdana, sans-serif;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  width: 200px;
  margin: 0 auto;
}
.gridSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: justify;
  font: 14px verdana, sans-serif;
  color: #FFFFFF;
  padding: 50px 50px;
}
.beneficios {
  grid-column: 1;
  text-align: left;
  padding: 50px 50px;
  font: 14px verdana, sans-serif;
  border: 0px solid #FFFFFF;
  background: #0069D3;
  text-align: justify;
  color: #FFFFFF;
}
.control {
  grid-column: 2;
  text-align: left;
  padding: 50px 50px;
  font: 14px verdana, sans-serif;
  border: 0px solid #FFFFFF;
  background: #02419C;
  text-align: justify;
  color: #FFFFFF;
}
.rendimiento { 
  grid-column: 3;
  text-align: left;
  padding: 50px 50px;
  font: 14px verdana, sans-serif;
  border: 0px solid #FFFFFF;
  background: #0069D3;
  text-align: justify;
  color: #FFFFFF;
}
.second {
  background-image: url("files/logo.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 75%;
}
.gridSectionSecond {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 50px;
  text-align: justify;
  font: 14px verdana, sans-serif;
  color: #FFFFFF;
  padding: 50px 50px;
}
.secondTitle{
  grid-column: 1/4;
  grid-row: 1;
  padding: 30px 50px;
  font: 28px verdana, sans-serif;
  color: #FFFFFF;
  margin-left: -50px
}
.third {
  background-color: #02419C;
}
.thirdTitle{
  grid-column: 1/4;
  font: 28px verdana, sans-serif;
  text-align: justify;
  color: #FFFFFF;
  margin: 0px auto;
}
.thirdContent{
  grid-column: 1/4;
  font: 14px verdana, sans-serif;
  text-align: center;
  color: #FFFFFF;
  margin: 10px auto; 
}
.squareThird{
  text-transform: uppercase;
  padding: 25px 25px;
  font: 12px verdana, sans-serif;
  background-color: #FFAC00;
  color: #FFFFFF;
  width: 200px;
  margin: 0 auto;
}
.gridFourth {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: justify;
  font: 14px verdana, sans-serif;
  color: #000000;
  padding: 20px 20px;
}
.gridFourthLeft {
  grid-column: 1;
  font: 18px verdana, sans-serif;
  text-align: justify;
  margin: 0px auto;
}
.gridFourthRight {
  grid-column: 2;
  font: 18px verdana, sans-serif;
  text-align: justify;
  margin: 0px auto;
}
.fourthTitle{
  font: 28px verdana, sans-serif;
  color: #000000;
}
.grid4L {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, auto));
  text-align: justify;
  font: 14px verdana, sans-serif;
  color: #000000;
  padding: 0px auto;
  align-items: center;
}
.grid4LL {
  grid-column: 1;
}
.grid4LR {
  grid-column: 2;
}
input, select, textarea {
  font: 14px verdana, sans-serif;
  color: #000000;
  border: none;
  padding : 0 10px;
  margin  : 0;
  width   : 240px;
  background: none
}
.footer {
  background-color: #000000;
  align-items: center;
  font: 12px verdana, sans-serif;
  color: #FFFFFF;
}

/*
h2 {
font: bold 14px verdana, sans-serif;
}
header, section, footer, aside, nav, article, figure, figcaption,
hgroup{
display: block;
}


.menu {
background: #BDBDBD;
padding: 5px 15px;
margin: 20px;
text-align: center;
-moz-border-radius: 30px;
-webkit-border-radius: 30px;
border-radius: 30px;
-moz-box-shadow: #000000 10px 10px 10px;
-webkit-box-shadow: #000000 10px 10px 10px;
box-shadow: #000000 10px 10px 10px;
}
.menu li {
display: inline-block;
list-style: none;
padding: 8px 20px;
font: bold 14px verdana, sans-serif;
-moz-border-radius: 30px;
-webkit-border-radius: 30px;
border-radius: 30px;
border: 2px solid #000000;
background: #0080FF;
color: #FFFFFF;
}
.menu li.activo{
	color: #FFCC00;
}
.menu li:hover{
-moz-border-radius: 30px;
-webkit-border-radius: 30px;
border-radius: 30px;
-moz-box-shadow: #000000 10px 10px 10px;
-webkit-box-shadow: #000000 10px 10px 10px;
box-shadow: #000000 10px 10px 10px;
border: 2px solid #000000;
background: #0080FF
}
.seccion {
float: left;
width: 680px;
margin: 10px;
background: #CCCCCC;
padding: 40px 40px;
text-align: left;
-moz-border-radius: 30px;
-webkit-border-radius: 30px;
border-radius: 30px;
}
.columna {
float: left;
width: 180px;
margin: 10px 0px;
padding: 10px;
background: #CCCCCC;
text-align: center;
-moz-border-radius: 30px;
-webkit-border-radius: 30px;
border-radius: 30px;
}
.pie {
clear: both;
text-align: center;
padding: 10px;
border-top: 4px solid #000000;
}
#correo{
	text-align: center;
}
article {
background: #00FFFF;
border: 4px solid #000000;
padding: 10px;
margin-bottom: 10px;
}
article footer {
text-align: right;
}
time {
color: #FF0000;
}
figcaption {
font: italic 14px verdana, sans-serif;
}
ul {
margin-left: 30px;
}

p {
text-align: justify;
}
a:link { 
text-decoration:none;
}
a:hover{
color: #FF0000;
}*/